.food {
    flex-direction: column;
}
.button {
    background-color: rgb(245, 245, 130);
    padding: 20px 10px; 
    border-radius: 20px;
}
.name {
    align-items: center;
    justify-content: center;
    display: inline-flex;
}